* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.primary-text {
    color: orange;
}

.btn-primary {
    color: #FFFFFF;
    font-size: 20px;
    padding: 18px 36px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
}


.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Star head and nav */
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 180px;


}



.font-tittle {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 10px;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    padding: 180px;

}

.banner-title {
    margin-bottom: 5px;
}

.banner-sub-title {
    margin-bottom: 20px;
    width: 498px;

}

.banner-description {
    color: #757575;
    margin-bottom: 35px;
}

/* Main */
main {
    max-width: 1140px;
    margin: 0 auto;
   

}

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}

.about-title {
    
    margin-bottom: 30px;
}

.about-description {
    color: #757575;
    margin-bottom: 30px;
}
.infor-conntainer{
    display: flex;
    justify-content: space-around;
    
}
.section-titel{
    color:  #757575;

}
.section-description{
    color:  #757575;

}
/* what i do */
.what-i-do{
    margin-top: 130px;
    text-align: center;
}
.what-title{
    margin-bottom: 30px;
}
.skills-description{
    color: #757575;
    
}
